<!DOCTYPE HTML>
<html>

<head>
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='http//fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<script src="js/jquery.min.js"></script>
	<!---start-login-script--->
	<script src="js/login.js"></script>
	<!---//End-login-script--->
	<!-----768px-menu----->
	<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
	<script type="text/javascript" src="js/jquery.mmenu.js"></script>
	<script type="text/javascript">
		//	The menu on the left
		$(function () {
			$('nav#menu-left').mmenu();
		});
	</script>
	<!-----//768px-menu----->
</head>

<body>
	<div class="content">
		<!------start-768px-menu---->
		<div id="page">
			<div id="header">
				<a class="navicon" href="#menu-left"> </a>
			</div>
			<nav id="menu-left">
				<ul>
					<li> <a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/mainPage">CheckYourCar</a></li>
					<div class="clear"> </div>
				</ul>
			</nav>
		</div>
		<!------end-768px-menu---->
		<!---start-header---->
		<div class="header">
			<!---start-wrap---->
			<div class="wrap">
				<div class="header-left">
					<div class="logo">
						<a href="index.html"></a>
					</div>
				</div>
				<div class="header-right">
					<div class="top-nav">
						<ul>
							<li> <a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/mainPage">CheckYourCar</a></li>
						</ul>
					</div>

					<div class="sign-ligin-btns">
						<ul>
							<div class="clear"> </div>
						</ul>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<div class="wrap">
			<div class="section-title">
				<h3>Car Check Recalls</h3>
			</div>
			<!--section-title-->
		</div>
	</div>
	<!-- start main -->
	<div class="mid_bg">
		<p class="about-title">Welcome to CheckYourCar&nbsp; Website.</p>
		<div class="wrap">
			<div class="details">
				<h3 class="style"><a href="#"> Car Check Results</a></h3>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<ol>

				</ol>
				<div class="det_pic"></div>
				<div class="det_text">
					<table width="800" border="100" cellspacing="100" cellpadding="100">
						<tbody>
							<tr>
								<th scope="row"> Issue / Recall<br>
									<br>
									<br>
									<br></th>
								<th>
									<%for(var i=0;i<info.length;i++){%>
									<br>
									<li>
										<%=info[i].carModel%>---<%=info[i].issue%>
									</li>


									<%}%>
							</th>
							</tr>
							<tr>

						</tbody>
					</table>



					<div class="sign_up sign_up1 ">
						<a>Want More Recalls</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="wrap">
			<div class="footer-left">
				<div class="copy">
					<p>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank"
							href="http//www.zjf88.com/">&nbsp;</a></p>
				</div>
			</div>
			<div class="social_icons">
				<ul>
					<li class="in"><a href="#"><span> </span></a></li>
					<li class="pro"><a href="#"><span> </span></a></li>
					<li class="twitter"><a href="#"><span> </span></a></li>
					<li class="facebook"><a href="#"><span> </span></a></li>
					<div class="clear"> </div>
				</ul>
			</div>
			<div class="clear"> </div>
		</div>

	</div>

	<div style="display:none">
		<script src='http//v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript'
			charset='gb2312'></script>
	</div>
</body>

</html>